{% extends 'base.html' %} 

{% block head %}
<title>Tree Quiz | {{ title }}</title>
{% endblock %}

 {% block content %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 game_over_content">
    <div class="game_over_msg_container col-xs-12">  
        <h1>You Scored {{ score_str }}/100</h1>
        <p> {{ result_msg }} </p>
    </div>
        <form method="GET" action="/question/{{ username }}">
            <button class="btn play-again-btn" autofocus>Play Again!</button>
        </form>
    </div>   
    
    </div>
    


</div>   
{% endblock %}